nav {
    height: 50px;
    ul {
        margin: 0 auto;
        text-align: center;
        list-style-type: none;
        padding: 15px;
        li {
            margin: 5px;
            font-size: 22px;
            display: inline;
            font-weight: 700;
        }
    }

    select {
        float: right;
    }
}

