$regularWhite: rgb(238, 238, 238);

header {

    .mainTitle {
        text-align: center;
        margin: 50px auto;
        user-select: none;
        color: $regularWhite;
        text-shadow: 0px 2px 0px rgb(196, 196, 196);
        h1 {

            font-size: 52px;
        }

        h2 {
            font-size: 38px;
        }
    }

    nav {
        .NavItem {
            font-weight: 700;
            font-size: 22px;
            color: $regularWhite !important;
        }


        $duration: 1s;
        $distance: 7px;
        $easeOutBack: cubic-bezier(0.175, 0.585, 0.320, 1.275);

        .custom-underline {
            position: relative;
            text-decoration: none;

            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: 2px;
                left: 0;
                right: 0;
                height: 2px;
                background-color: rgb(226, 226, 226);
            }

            &:before {
                opacity: 0;
                transform: translateY(- $distance);
                transition: transform 0s $easeOutBack, opacity 0s;
            }

            &:after {
                opacity: 0;
                transform: translateY($distance/2);
                transition: transform $duration $easeOutBack, opacity $duration;
            }

            &:hover,
            &:focus {

                &:before,
                &:after {
                    opacity: 1;
                    transform: translateY(0);
                }

                &:before {
                    transition: transform $duration $easeOutBack, opacity $duration;
                }

                &:after {
                    transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
                }
            }
        }

    }
}