#technologies {
   
    display: flexbox;
    text-align: center;
    align-items: center;
    img {
        margin: 15px 10px;
        height: 150px;
        width: 150px;
        padding: 0px !important;
        opacity: 70%;      
        user-select: none;
        transition: 0.5s;
    }
    img:hover {
        opacity: 100%;
    }
}